@model Kullanici
@{
    ViewData["Title"] = "Kullanici";

}
<h1>Kullanici Detay</h1>
@*@Model.Ad

 Sayfada Modeli bu şekilde kullandığımızda

 " NullReferenceException: Object reference not set to an instance of an object."

 Hatası alırsak. Modelimizin için controller da doldurulmamıştır

*@

<table class="table">
    <tr>
        <td>Ad </td>
        <td>: @Model.Ad</td>
    </tr>
    <tr>
        <td>Soyad</td>
        <td>: @Model.Soyad</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>: @Model.Email</td>
    </tr>
    <tr>
        <td>Kullanıcı adi</td>
        <td>: @Model.KullaniciAdi</td>
    </tr>
    <tr>
        <td>Şifre</td>
        <td>: @Model.Sifre</td>
    </tr>
</table>

<h3> Kullanıcı Bilgilerini DÜzenleme</h3>

<form asp-action="KullaniciDetay" method="post">

    <table class="table">
        <tr>
            <td>Ad </td>
            <td>: @Html.TextBoxFor(model=>model.Ad)</td>
        </tr>
        <tr>
            <td>Soyad</td>
            <td>: @Html.TextBoxFor(model=>model.Soyad)</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>: @Html.TextBoxFor(model=>model.Email)</td>
        </tr>
        <tr>
            <td>Kullanıcı adi</td>
            <td>: @Html.TextBoxFor(model=>model.KullaniciAdi)</td>
        </tr>
        <tr>
            <td>Şifre</td>
            <td>: @Html.TextBoxFor(model=>model.Sifre)</td>
        </tr>

        <tr>
            <td></td>
            <td>
                <input type="submit" value="Gönder" />
            </td>
        </tr>
    </table>

</form>

<hr />

<h3>ASP-FOR Kullanarak Model Binding</h3>

<form asp-action="KullaniciDetay" class="table">

    <input asp-for="Ad"><br />
    <input asp-for="Soyad"><br />
    <input asp-for="Email"><br />
    <input asp-for="KullaniciAdi"><br />
    <input asp-for="Sifre"><br />
    <input type="submit" value="Gönder" />

</form>